.div1{
width: 20%;
float: left;
padding: 1px;
box-sizing: border-box;
}

.div2{
width: 70%;
float: left;
padding: 1px;
box-sizing: border-box;
}

.div3{
width: 100%;
float: left;
padding: 20px;
box-sizing: border-box;
}

.div4{
width: 15%;
float: left;
padding: 0px;
box-sizing: border-box;
border: 1px solid black;
margin-left: 1%;
}

.div5{
width: 71%;
float: left;
padding: 0px;
box-sizing: border-box;
margin-left: 30%;
}

.div6{
width: 80%;
float: left;
padding-top: 26px;
box-sizing: border-box;
margin-left: 5%;
}


input{
color: black;
font-family: cambria;
font-size: 2vh;
}

h1{
color: red;
font-family: cambria;
font-size: 3vh;
}

.p1{
color: black;
font-family: cambria;
font-size: 3vh;
text-align: justify;
}

img{
width:75%;
height: 50%;
